### Eclipse ###
.settings/
.metadata/
.recommenders
.classpath
.project

### Build artifacts ###
target/

### IntelliJ ###
.idea/
*.iml

### vscode settings directory ###
.vscode

### macOS specific files  ###
.DS_Store

### Others ###
design

### KNN data ###
clusters_output*
clusters_output_900000_3000
cluster_output_900_9
clusters_output_900_9
test.java

# 
sift.txt